/* Core Site Styles Definition for SASS importing for Site3 */
/* List all potential variables that can be used by sites */
/* Values will be default values if not overridden by individual sites */
/* Test of no variables */
/* Core Site Styles Definition for SASS importing */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #e2e2e2;
  font-size: 24px;
  color: #fff;
  font-family: Arial, Charcoal, sans-serif; }

header {
  background: black;
  padding: 5px 10px;
  font-size: 34px; }

section {
  min-height: 100%;
  background: white url("http://wptavern.com/wp-content/uploads/2013/11/sass.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 10px; }

footer {
  background: #cccccc;
  font-size: 14px;
  padding: 5px 10px;
  height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%; }

/* additional site wide styles can be put here */
/* this is useful so you can break up your styles into logical groups */
/* example  @import "grids"; */
